.edit-component {
    padding: 0 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.actions {
    padding-top: 10px;
    align-self: flex-end;
}

.task-name {
    margin-top: 30px;
}

.done-chbx {
    margin-top: 30px;
}
.description {
    margin-top: 30px;
    width: 100%;
    height: 300px;
    resize: none;
}

@media only screen and (max-width: 478px) {
    .edit-component {
        width: 100%;
    }
    .description {
        height: 150px;
    }
}


