.categories-container {
    width: 50%;
}
.categories-list {
    max-height: 75vh;
    padding-left: 0;
    overflow-y: scroll;
}

.categories-list li {
    list-style: none;
}

@media only screen and (max-width: 478px) {
    .categories-container {
        width: 100%;
    }
    .categories-list {
        max-height: 30vh;
    }
}
