.category-item {
    padding: 10px;
    width: 100%;
    height: 45px;
    box-shadow: inset 0px 0px 1px 0px black;
    text-align: left;
}
.category-item.selected {
    box-shadow: inset 0px 0px 3px 2px cornflowerblue;
}
.delete-btn {
    float: right;
    margin-top: 2.5px;
}

.add-subcategory-btn {
    float: right;
    margin-top: 2.5px;

}